.searchList .title {
	margin-bottom: 0;
    padding: 0 55px 20px;
	font-size: 40px;
	font-weight: 500;
}

/* ----- 옵션 선택 --------------------------------------------- */

.searchList .select {
	float: right;
    display: flex;
    padding-right: 50px;
}

.searchList button {font-family: 'IBM Plex Sans KR', sans-serif;}

.cont-select {
  position: relative;
  width: 180px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.btn-select {
  width: 100%;
  padding: 13px 30px 13px 14px;
  font-size: 15px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  background: url("../images/common/more_icon.png") center right 14px no-repeat;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-select:hover,
.btn-select:focus {
  border: 1px solid #e6c317;
  outline: 3px solid #FFDF3E;
}

.list-member {
  background: white;
  list-style-type: none;
  display: none;
  position: absolute;
  width: 100%;
  top: 49px;
  left: 0;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
}

.btn-select.on {background: url("../images/common/close_icon.png") center right 14px no-repeat;}

.btn-select.on+.list-member {display: block;}

.list-member li {
  left:0;
  height: 40px;
  padding: 5px 8px;
  box-sizing: border-box;
}

.list-member li button {
  width: 100%;
  padding: 7px 10px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-member li button:hover, .list-member li button:focus {background-color: #FFDF3E;}

/* ----- 클래스 카드 --------------------------------------------- */

.searchList .no > .announce > .title {text-align: center;}

.searchList .no > .announce > span {
	display: block;
	text-align: center;
}

.searchList .announce {margin-bottom: 100px;}

.searchList .yes > .title > span {color: #BF5846;}

.location-class, .hot-class, .new-class {
    width: 100%;
    min-height: 500px;
    margin-top: 80px;
}

.location-class {margin-top: 70px;}

.location-class-top, .hot-class-top {
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.location-class-bottom {
    display: flex;
    flex-wrap: wrap;
}

.location-class-bottom, .hot-class-bottom, .new-class-bottom {
	margin-top: 20px;
    padding: 0 45px;
}

.location-class a, .hot-class a, .new-class a {
    display: inline-block;
    height: 20px;
    font-size: 17px;
}

.fi-rr-angle-small-right:before {margin: 15px;}

.location {float: right;}
.location p {display: inline-block;}

.class {
    display: inline-block;
    width: 252px;
    height: 422px;
    border: 1px solid gainsboro;
    box-shadow: 3px 2px 5px 2px #0000001a;
    border-radius: 5px;
    position: relative;
    margin: 0 12px 40px;
}

.class img {
    width: 252px;
    height: 252px;
    position: relative;
    object-fit: cover;
    transform:scale(1.0);        
    transition: transform .5s;
}

.detail-info {
    padding: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-name {font-size: 12px;}

.grade {margin-top: 8px;}

.grade > span {margin-right: 10px;}

.detail-info-bottom {
    position: absolute;
    width: 224px;
    bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.detail-info-bottom > * {vertical-align: middle;}

.detail-info-bottom > img {
	border-radius: 50%;
	width: 26px;
	height: auto;
}

.teacher-name {font-size: 15px;}

.class-price {
    font-size: 15px;
    float: right;
    padding-top: 1px; /* 추가 */
}

/* 이미지 확대 */
.class {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}

.class .image {overflow: hidden;}

.class .image:hover img {
	transform:scale(1.1);
	transition: transform .5s;
	filter: opacity(0.7);
}

/* 찜하기 */
.btn_like {
	position: relative;
  	margin: 100px auto;
  	display: block;
  	width: 44px;
  	height: 44px;
  	border: 1px solid #e8e8e8;
  	border-radius: 44px; 
  	font-family: notokr-bold,sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	background-color: #fff;
  	color: #DD5D54;
  	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);
  	transition: border .2s ease-out,box-shadow .1s ease-out,background-color .4s ease-out;
  	cursor: pointer;
  	position: absolute;
  	top: 10px;
  	margin: 0;
  	right: 10px;
}

.btn_like:hover {
	border: 1px solid rgba(228,89,89,0.3);
	background-color: rgba(228,89,89,0.02);
	box-shadow: 0 2px 4px 0 rgba(228,89,89,0.2);
}

.btn_unlike .img_emoti {background-position: -30px -120px;}

.img_emoti {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/img_emoti.png?v=20180410) no-repeat;
    text-indent: -9999px;
    vertical-align: top;
    width: 20px;
    height: 17px;
    margin-top: 1px;
    background-position: 0px -120px;
    text-indent: 0;
}

.btn_like .ani_heart_m {margin: -63px 0 0 -63px;}

.ani_heart_m {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    margin: -63px 0 0 -63px;
    pointer-events: none;
}

.ani_heart_m.hi {
    background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_on_m.png);
    -webkit-background-size: 9000px 125px;
    background-size: 9000px 125px;
    animation: on_m 1.06s steps(72);
}

.ani_heart_m.bye {
    background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_off_m.png);
    -webkit-background-size: 8250px 125px;
    background-size: 8250px 125px;
    animation: off_m 1.06s steps(66);
}

@keyframes on_m {
  from { background-position: 0 }
  to { background-position: -9000px }
}

@keyframes off_m {
  from { background-position: 0 }
  to { background-position: -8250px }
}

/* ----- 페이지네이션 --------------------------------------------- */

.page-number {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.page-ul {
    display: flex;
}

.page-ul > li {
    text-align: center;
    line-height: 28px;
    width: 30px;
    height: 30px;
}

.page-ul > li > a {
    display: block;
}