@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*:not(body, html){
    /*border: 1px solid rgb(185, 185, 185);*/
    box-sizing: border-box;
}

body *{
    font-family: 'IBMPlexSansKR-Regular';
}

body{
    margin: 0;
    
}

.fixWidth{
    width: 1200px;
    margin: auto;
}

.redText{
    color: red;
}

/*영역 분할*/
.line1{
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}

.line2{
    display: inline-block;
}

.bottomLine{
    border-bottom: 1px solid #ddd;
}

/*div 라잌 테이블*/
/*.fixWidth > div:nth-child(1){height: 80px;}
.fixWidth > div:first-child > h1{line-height: 100px;}
*/
.fixWidth > div:nth-child(2){height: 100px;}
.fixWidth > div:nth-child(3){height: 100px;}
.fixWidth > div:nth-child(4){height: 100px;}
.fixWidth > div:nth-child(5){height: 100px;}

.h4-height{padding-top: 40px;}
.div-height{padding-top: 21.280px;}

.fixWidth > div:nth-child(6){height: 200px;}
.fixWidth > div:nth-child(7){height: 250px;}
/* .fixWidth > div:nth-child(8){height: 580px;} */

/* .fixWidth > div:nth-child(9){height: 800px;} */


/*textarea 디자인*/
.textarea-style{
    width: 750px; 
    height: 200px; 
    margin-right: 20px;
    border-color: darkgray;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'IBMPlexSansKR-Regular';
    padding-left: 5px;
    resize: none;
}

.textarea-style:focus{
    outline: 2px solid #FFDF3E;
    border: none
}

/*select 디자인*/
.select-style{
    width: 250px; 
    height: 40px; 
    margin-right: 20px;
    border-color: darkgray;
    border-radius: 10px;
    font-family: 'IBMPlexSansKR-Regular';
    padding-left: 5px;
}

.select-style:focus{
    outline: 2px solid #FFDF3E;
    border: none
}

select {
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none /* 화살표 없애기 */
}


/*input 디자인*/
.input-style{
    width: 250px; 
    height: 40px; 
    border: solid;
    border-color: darkgray;
    border-width: 1px thin;
    border-radius: 10px;
    padding:0px 0px 0px 10px;
    font-size: 14px;
}

.input-style:focus{
    outline: 2px solid #FFDF3E;
    border: none
}

/*radio checkbox 디자인*/
input[type='radio'],
input[type='radio']:checked {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  margin-right: 0.1rem;
  position: relative;
  top: 1.5px;
}

input[type='radio'] {
  background-color: white;
  border: 1px solid darkgray;
}
input[type='radio']:checked {
  background-color: #FFDF3E;
}

/*checkbox*/
input[id="check1"] + label {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid darkgray;
	cursor: pointer;
	margin: 0px;
}

input[id="check1"]:checked + label {
	background-color: #FFDF3E;
}

input[id="check1"] {
	display: none;
}

label[for="check1"] {
  position: relative;
  top: 2.5px;
}

#marketing p{
	display: inline-block;
	margin: 0px;
}

/*수업난이도*/
#c-level > div{
    display: inline-block;
    margin-right: 20px;
}

/*수업형태영역*/
#class-select > div{
    float:left;
}

#class-select > div:last-child{
    margin-top: 20px;
}

#class-select > div > div:last-child{
    margin-top: 10px;
    margin-left: 5px;
}


/*수업참여인원영역*/
#people-num > div{
    float: left;
}

/*수업제목영역*/
#c-title > div{
    float: left;
}

#tip-area{
    margin-top: 21.280px;
    margin-bottom: 21.280px;
    height: 145px;
    width: 750px;
    border-radius: 20px;
    background-color: lightgray;
}

#tip-area > div{
    margin-left: 20px;
}

#tip-area > div:first-child{
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: crimson;
}

#tip-area > div:last-child{
    color: rgb(68, 68, 68);
    margin-top: 5px;
}


/*수업소개영역*/
#c-introduce{
	clear:both;
	border-top:1px solid #ddd;
}

#c-introduce > div, #c-target > div, #c-ptn > div, #c-price > div{
    float: left;
}

.tip{
    margin-top: 21.280px;
    margin-bottom: 21.280px;
    border-radius: 20px;
    background-color: lightgray;
}

.tip > div{
    margin-left: 20px;
}

.tip-text{
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: crimson;
}

.tip-content{
    color: rgb(68, 68, 68);
    margin-top: 5px;
    margin-bottom: 5px;
}


#tip-area1{
    height: 320px;
    width: 750px;
}

#tip-area2{
    height: 230px;
    width: 750px;
}

/*커버이미지영역*/
#cover-img > div{
    float: left;
}

#img-select > div{
    float: left;
}

/*큰 이미지*/
#img-insert{
    border: 1px solid darkgray;
    width: 420px;
    height: 380px;
    margin-right: 50px;
    margin-bottom: 15px;
}

#img-insert img{
    width: 100%;
    height: 100%;
}

#marketing{
    clear: both;
}

/*작은 이미지*/
/*스크롤바*/
#mini-img{
	width:700px;
	white-space:nowrap;
	overflow-x:scroll;
	cursor:pointer;
}

#mini-img::-webkit-scrollbar{
    width: 5px;
    background: none;
}
#mini-img::-webkit-scrollbar-thumb{
    background-color: #ddd;
}


#mini-img > div{
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

#mini-img img{
    width: 120px;
    height: 100px;
}

.img-btn{
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
    font-size: 14px;
    width: 150px;
    height: 40px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
}

#img-plus-btn{
    background-color: #FFDF3E;
}

.btn-click { box-shadow: 3px 2px 5px 2px #0000001a;
}

.btn-click:active { 
    box-shadow: 3px 2px 5px 2px #0000001a;   position: relative; top:2px;
}

#img-text{
    margin-top: 15px;
    color: rgb(68, 68, 68);
}



/*다음버튼영역*/
#next-btn{
    clear: both;
    text-align: center;
    border-top: 1px solid #ddd;
}

#next-btn button{
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
    font-size: 16px;
    width: 220px;
    height: 50px;
    margin: 40px;
    border: none;
    border-radius: 5px;
}


#register_header{
    border-bottom: 1px solid #ddd;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
#register_header > div{
    font-size: 28px;
    font-weight: 500;
}
#register_header > div:last-child{
    font-size: 17px;
    line-height: 4;
}

h4{
    font-weight: 600;
    font-size: 17px;
    margin: 0px;
}

.explan{
    margin-top: 10px;
    line-height: 25px;
}

#group-input{
    margin-top: 10px;
}


#img-file-box{
	display:none;
}






    
    

