.searchList .title {
	margin-bottom: 0;
    padding: 0 55px 20px;
	font-size: 40px;
	font-weight: 500;
}

/* ----- 옵션 선택 --------------------------------------------- */

.searchList form[name="optionForm"] {
    margin: auto;
   	margin-top: 25px;
    padding: 20px;
    border: 1px solid red;
	width: 80%;
    text-align: center;
}

.searchList .price {
	display: flex;
    justify-content: center;
   	margin-top: 25px;
	margin-left: -7px;
}

.searchList .price-chk {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
}

.searchList .price-chk > input[type="checkbox"] {display: none;}

.searchList .price-chk > input[type="checkbox"] + label {
	display: inline-block;
    margin: 0px;
    margin-right: 10px;
    border: 1px solid darkgray;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.searchList .price-chk > input[type="checkbox"]:checked + label {background-color: #FFDF3E;}

.searchList .label {font-size: 15px;}

.searchList .select {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.searchList button {font-family: 'IBM Plex Sans KR', sans-serif;}

.searchList .cont-select {
  position: relative;
  width: 180px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.searchList .btn-select {
  width: 100%;
  padding: 13px 30px 13px 14px;
  font-size: 15px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  background: url("../images/common/more_icon.png") center right 14px no-repeat;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchList .btn-select:hover,
.searchList .btn-select:focus {
  border: 1px solid #e6c317;
  outline: 3px solid #FFDF3E;
}

.searchList .list-member {
  background: white;
  list-style-type: none;
  display: none;
  position: absolute;
  width: 100%;
  top: 49px;
  left: 0;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
}

.searchList .btn-select.on {background: url("../images/common/close_icon.png") center right 14px no-repeat;}

.searchList .btn-select.on+.list-member {display: block;}

.searchList .list-member li {
  left:0;
  height: 40px;
  padding: 5px 8px;
  box-sizing: border-box;
}

.searchList .list-member li button {
  width: 100%;
  padding: 7px 10px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchList .list-member li button:hover, .list-member li button:focus {background-color: #FFDF3E;}

/* ----- 클래스 카드 --------------------------------------------- */

.searchList .no > .announce > .title {text-align: center;}

.searchList .no > .announce > span {
	display: block;
	text-align: center;
}

.searchList .announce {margin-bottom: 100px;}

.searchList .title > span {color: #BF5846;}

.searchList .location-class, .hot-class, .new-class {
    width: 100%;
    min-height: 500px;
    margin-top: 80px;
}

.searchList .location-class {margin-top: 70px;}

.searchList .location-class-top, .hot-class-top {
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.searchList .location-class-bottom {
    display: flex;
    flex-wrap: wrap;
}

.searchList .location-class-bottom, .hot-class-bottom, .new-class-bottom {
	display: flex;
    flex-wrap: wrap;
}  

.searchList .location-class a, .hot-class a, .new-class a {
    display: inline-block;
    height: 20px;
    font-size: 17px;
}

.searchList .fi-rr-angle-small-right:before {margin: 15px;}

.searchList .location {float: right;}
.searchList .location p {display: inline-block;}

.searchList .class {
    display: inline-block;
    width: 274px;
    height: 440px;
    border: 1px solid gainsboro;
    box-shadow: 3px 2px 5px 2px #0000001a;
    border-radius: 5px;
    position: relative;
    margin: 0 12px 40px;
    cursor: pointer;
    overflow: hidden;
}

.searchList .class .image {
	width: 272px;
	height: 272px;
}

.searchList .class img {
    width: 272px;
    height: 272px;
    position: relative;
    object-fit: cover;
    transform:scale(1.0);        
    transition: transform .5s;
}

.searchList .location-p{
   position: absolute;
   padding: 5px 7px;
   display: block;
   top: 18px;
   left: 14px;
   font-size: 13px;
   background-color: #FFDF3E;
   margin-top: 0;
   border-radius: 5px;
}

.searchList .detail-info {
    padding: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchList .category-name {font-size: 12px;}

.searchList .class-name {
	margin-top: 5px;
	height: 45px;
	max-height: 45px;
	font-size: 14px;
	font-weight: 500;
	/* 말줄임 */	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 2;
}

.searchList .grade {
	margin-top: 5px;
	font-size: 14px;
}

.searchList .grade > span {
	margin-right: 10px;
	padding-left: 3.5px;
}

.searchList .fi-rr-star {color: gold;}
.searchList .fi-rr-heart {color: red;}

.searchList .detail-info-bottom {
    position: absolute;
    width: 247px;
    bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.searchList .detail-info-bottom > * {vertical-align: middle;}

.searchList .detail-info-bottom > img {
	border-radius: 50%;
	width: 26px;
	height: 26px;
}

.searchList .teacher-name {
	padding-left: 5px;
	font-size: 13px;
}

.searchList .class-price {
    font-size: 17px;
    font-weight: 500;
    float: right;
    padding-top: 1px;
}

/* 이미지 확대 */
.searchList .class {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}

.searchList .class .image {overflow: hidden;}

.searchList .class:hover .image > img {
	transform:scale(1.1);
	transition: transform .5s;
	filter: opacity(0.7);
}

/* 찜하기 */
.searchList .btn_like {
	position: relative;
  	margin: 100px auto;
  	display: block;
  	width: 44px;
  	height: 44px;
  	border: 1px solid #e8e8e8;
  	border-radius: 44px; 
  	font-family: notokr-bold,sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	background-color: #fff;
  	color: #DD5D54;
  	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);
  	transition: border .2s ease-out,box-shadow .1s ease-out,background-color .4s ease-out;
  	cursor: pointer;
  	position: absolute;
  	top: 10px;
  	margin: 0;
  	right: 10px;
}

.searchList .btn_like:hover {
	border: 1px solid rgba(228,89,89,0.3);
	background-color: rgba(228,89,89,0.02);
	box-shadow: 0 2px 4px 0 rgba(228,89,89,0.2);
}

.searchList .btn_unlike .img_emoti {background-position: -30px -120px;}

.searchList .img_emoti {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/img_emoti.png?v=20180410) no-repeat;
    text-indent: -9999px;
    vertical-align: top;
    width: 20px;
    height: 17px;
    margin-top: 1px;
    background-position: 0px -120px;
    text-indent: 0;
}

.searchList .btn_like .ani_heart_m {margin: -63px 0 0 -63px;}

.searchList .ani_heart_m {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    margin: -63px 0 0 -63px;
    pointer-events: none;
}

.searchList .ani_heart_m.hi {
    background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_on_m.png);
    -webkit-background-size: 9000px 125px;
    background-size: 9000px 125px;
    animation: on_m 1.06s steps(72);
}

.searchList .ani_heart_m.bye {
    background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_off_m.png);
    -webkit-background-size: 8250px 125px;
    background-size: 8250px 125px;
    animation: off_m 1.06s steps(66);
}

@keyframes on_m {
  from { background-position: 0 }
  to { background-position: -9000px }
}

@keyframes off_m {
  from { background-position: 0 }
  to { background-position: -8250px }
}