::selection {background-color: #FFDF3E;}

/* 드래그 방지 */
.prevent-dragging {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.test {
	margin: auto;
	width: 1200px;
}

/* -------------------------------------------------- */

header {
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
	line-height: 95px;
}

header .content {
	display: flex;
	justify-content: space-between;
    margin: auto;
	width: 1200px;
	height: 100px;
}

header .main {
	display: flex;
	width: 820px;
}

header .logo > a > img {
	width: auto;
	height: 100px;
}

header .search {margin-left: 35px;}

header .search > form > input {
	margin-top: 32px;
	padding-left: 25px;
	border-radius: 30px;
	border: none;
	width: 500px;
	height: 50px;
	background-color: #FFF9D8;
	font-size: 18px;
}

header .search > form > input:focus {
	outline: 3px solid #FFDF3E;
	background-color: transparent;
}

header .logout > li {
	margin-left: 80px;
	padding-top: 10px;
	font-size: 15px;
}

header .login > li {
	margin-left: 25px;
    padding-top: 10px;
    font-size: 15px;
}

header .chat {position: relative;}

header .profile {
	display: table;
	padding-top: 9px !important;
}

header .profile > * {vertical-align: middle;}

header .profile > img {
	border-radius: 50%;
	width: 40px;
	height: auto;
}

header ul {
	display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header a {
	text-decoration: none;
	color: black;
}

/* -------------------------------------------------- */

footer {
	margin-top: 80px;
	padding: 20px 0;
	border-top: 1px solid #E0E0E0;
	width: 100%;
	height: 200px;
}

footer .content {
    margin: auto;
	width: 1200px;
}

footer .area-1 {
	display: flex;
    justify-content: space-between;
}

footer .area-1 > img {
	width: 200px;
	height: auto;
}
  
footer .list {line-height: 80px; max-height: 80px; }
footer .list > ul {display: flex; padding-top: 8px; }

footer .list > ul > li {
	margin-left: 100px;
	font-size: 15px;
}

footer .list > ul > li:last-child {margin-right: 5px;}

footer .area-2 {margin-top: 10px;}

footer .detail-info {
	float: left;
	width: 800px;
}

footer .detail-info > ul {
	line-height: 25px;
	font-size: 14px;
}

footer .detail-info > ul > li:after {
	margin: 0 7px;
	content: "│ ";
}

footer .detail-info > ul > li:last-child:after {display: none;}

footer .announce {
	float: right;
	margin-top: 10px;
	width: 400px;
}

footer .sns {
	float: right;
	width: 140px;
}

footer .sns > ul {
	justify-content: space-between;
	font-size: 27px;
}

footer #facebook {color: #435A92;}

footer #insta {
	background: linear-gradient(to left bottom, #8539B5, #FE1C1E, #FDA742);
    -webkit-background-clip: text;
    color: transparent;
}

footer #youtube {color: #FF0000;}

footer .announce > span {
	display: inline-block;
	margin-top: 10px;
    margin-left: 80px;
	font-size: 14px;
	line-height: 10px;
}

footer ul {
	display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer a {
	text-decoration: none;
	color: black;
}