* {box-sizing: border-box;}

body {font-family: 'IBM Plex Sans KR', sans-serif;}

main {
    margin: auto;
    width: 1200px;
}

* ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

* a {
	text-decoration: none;
	color: black;
}

::selection {background-color: #FFDF3E;}

/* 드래그 방지 */
.prevent-dragging {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* ----- header --------------------------------------------- */

header {
	margin-bottom: 80px;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
	background-color: white;
	line-height: 95px;
}

header .content {
	display: flex;
	justify-content: space-between;
    margin: auto;
	width: 1200px;
	height: 100px;
}

header .main {
	display: flex;
	width: 750px;
}

header .logo > a > img {
	width: auto;
	height: 100px;
}

header .search {margin-left: 15px;}

header .search-icon {position: relative;}

header .search-icon > i {
	position: absolute;
    left: 480px;
    top: 10px;
    color: #6C6C6C;
    font-size: 25px;
}

header .search-icon > input {
	margin-top: 32px;
	padding-left: 25px;
	border-radius: 30px;
	border: none;
	width: 530px;
	height: 50px;
	background-color: #F0F0F0;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 18px;
}

header .search-icon > input:focus {
	outline: 3px solid #FFDF3E;
	background-color: transparent;
}

header .search-icon > input:focus i {
	color: #FFDF3E;
}   

header .logout > li {
	margin-left: 80px;
	padding-top: 10px;
	font-size: 15px;
}

header .login > li {
	margin-left: 30px;
    padding-top: 10px;
    font-size: 15px;
}

header #chat {
	position: relative;
	margin-right: 40px;
}

header #chat > .alert {
	position: absolute;
    top: -5px;
    right: -8px;
    z-index: 3;
    border-radius: 15px;
    width: 17px;
    height: 17px;
    background-color: #FFDF3E;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    line-height: 17.5px;
}

header .profile {
	display: table;
	position: relative;
	padding-top: 9px !important;
}

header .my-profile {position: relative;}

header .my-profile > img {
	position: absolute;
    top: 24px;
    left: -40px;
	border-radius: 50%;
	width: 40px;
	height: auto;
}

header ul {display: flex;}

/* ----- header -> modal --------------------------------------------- */

header .modal {
	display: none;
    position: absolute;
    top: 82px;
    right: -10px;
    z-index: 500;
    padding: 15px;
    border-radius: 10px;
	width: 200px;
    background-color: white;
    box-shadow: rgb(41 42 43 / 20%) 0px 8px 10px 0px;
    color: #343434;
    line-height: 20px;
}

header .modal-1 {
	display: flex;
	padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}

header .modal-1 > img {
	display: flex;
	margin-right: 10px;
	border-radius: 50%;
	width: 45px;
	height: 45px;    
}

header .user, .modal-2 {
	display: flex;
    justify-content: space-around;
    flex-direction: column;
	width: 100%;
}

header .user-name {font-size: 16px;}

header .my-page {font-size: 13px;}
header .my-page > a {color: #BF5846;}

header .modal-2 {
	margin-top: 10px;
    font-size: 14px;
    line-height: 25px;
}

/* ----- footer --------------------------------------------- */

footer {
	margin-top: 80px;
	padding: 20px 0;
	border-top: 1px solid #E0E0E0;
	width: 100%;
	height: 230px;
	background-color: white;
}

footer .content {
    margin: auto;
	width: 1200px;
}

footer .area-1 {
	display: flex;
    justify-content: space-between;
}

footer .area-1 > img {
	width: 200px;
	height: auto;
}
  
footer .list {
	max-height: 80px;
	line-height: 80px;
}

footer .list > ul {
	display: flex;
	padding-top: 8px;
}

footer .list > ul > li {
	margin-left: 100px;
	font-size: 15px;
}

footer .list > ul > li:last-child {margin-right: 5px;}

footer .area-2 {margin-top: 10px;}

footer .detail-info {
	float: left;
	width: 600px;
}

footer .detail-info > ul {
	line-height: 25px;
	font-size: 14px;
}

footer .detail-info > ul > li:after {
	margin: 0 7px;
	content: "│ ";
}

footer .detail-info > ul > li:last-child:after {display: none;}

footer .announce {
	float: right;
	margin-top: 10px;
	width: 400px;
}

footer .sns {
	float: right;
	width: 140px;
}

footer .sns > ul {
	justify-content: space-between;
	font-size: 27px;
}

footer #facebook {color: #435A92;}

footer #insta {
	background: linear-gradient(to left bottom, #8539B5, #FE1C1E, #FDA742);
    -webkit-background-clip: text;
    color: transparent;
}

footer #youtube {color: #FF0000;}

footer .announce > span {
	display: inline-block;
	margin-top: 10px;
    margin-left: 90px;
	font-size: 14px;
	line-height: 10px;
}

footer ul {display: flex;}