
*:not(body, html, .carosel) {
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.class-name{
    margin-top: 5px;
    font-weight: 500;
}

main{
    width: 1200px;
    margin: auto;
}

main a{
    color: black;
    text-decoration: none;
}

/* 캐러셀 */
.carousel-item > img{
    width: 100%;
    height: 455px;
    object-fit: cover; 
}

/* 카테고리 */
.category{
    width: 1000px;
    height: 150px;
    margin: auto;
    margin-top: 35px;
}

.category a{
    display: block;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 3px 2px 5px 2px #0000001a;
    color: black;
    text-decoration: none;
}

.category-div{
    margin: 20px;
    width: 120px;
    height: 135px;
    padding-top: 20px;
    background-size: contain;
}

.category-div p{
	padding-top: 82px;
    text-align: center;
}

.category a:hover{
    background-color: rgb(255, 223, 62);
    font-weight: 500;
}

.category a:active{
    position: relative;
    top: 2px;
}

tbody a {
	cursor: pointer;
}

/* 아이콘 */
.category i[class^="fi-rr-"]:before, .category i[class*=" fi-rr-"]:before, 
.category span[class^="fi-rr-"]:before, .category span[class*="fi-rr-"]:before{
    font-size: 60px;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
}


/* 클래스 추천 */
.detail{
    font-size: 20px;
    font-weight: 500;
}
.detail:hover{
	background-color: rgb(255, 223, 62);
	cursor: pointer;
}

.detail > i{
	margin-left: 15px;
}
.location-class, .hot-class, .new-class{
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.location-class{
    margin-top: 70px;
}

.location-class-top, .hot-class-top, .new-class-top{
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.location-class-bottom, .hot-class-bottom, .new-class-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.location-class-bottom, .hot-class-bottom, .new-class-bottom{
    margin-top: 20px;
}

.location-class a, .hot-class a, .new-class a{
    display: inline-block;
    height: 20px;
    font-size: 17px;
}

.location{
    float: right;
}

.location:hover{
	font-weight: 500;
}



.location p{
    display: inline-block;
}

.class{
    float: left;
    width: 274px;
    height: 445px;
    border: 1px solid gainsboro;
    box-shadow: 3px 2px 5px 2px #0000001a;
    border-radius: 5px;
    position: relative;
    margin: 0 9px;
    cursor: pointer;
    overflow: hidden;
}

.class  img{
    width: 272px;
    height: 272px;
    position: relative;
    object-fit: cover;
    transform:scale(1.0);        
    transition: transform .5s;

}

.class .image {
    width: 272px;
    height: 272px;
}

.detail-info{
    padding: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-name{
    font-size: 12px;
}

.grade{
    margin-top: 8px;
}

.grade > span{
    margin-right: 10px;
}

.detail-info-bottom{
    position: absolute;
    width: 247px;
    bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.teacher-name{
    font-size: 15px;
}
.class-price{
    font-size: 15px;
    float: right;
    padding-top: 1px;
}

/* 이미지 확대 */
.class {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}

.class .image {overflow: hidden;}

.class:hover .image > img {
   transform:scale(1.1);
   transition: transform .5s;
   filter: opacity(0.7);
}

/* 강사 이미지 */
.detail-info-bottom > * {vertical-align: middle;}
.detail-info-bottom > img {
    border-radius: 50%;
    width: 26px;
    height: auto;
 }


 /* 위치 p태그 */
 .location-p{
    position: absolute;
    padding: 5px 7px;
    display: block;
    top: 18px;
    left: 14px;
    font-size: 14px;
    background-color: rgb(255, 223, 62);
    border-radius: 5px;
 }  

/* 찜하기 */
.btn_like {
    position: relative;
    margin: 100px auto;
    display: block;
    width: 44px;
    height: 44px;
    border: 1px solid #e8e8e8;
    border-radius: 44px;
    font-family: notokr-bold,sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff;
    color: #DD5D54;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);
    transition: border .2s ease-out,box-shadow .1s ease-out,background-color .4s ease-out;
    cursor: pointer;

    position: absolute;
    top: 10px;
    margin: 0;
    right: 10px;
  }
  
  .btn_like:hover {
    border: 1px solid rgba(228,89,89,0.3);
    background-color: rgba(228,89,89,0.02);
    box-shadow: 0 2px 4px 0 rgba(228,89,89,0.2);
  }
  
  .btn_unlike .img_emoti {
      background-position: -30px -120px;
  }
  
  .img_emoti {
      display: inline-block;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      background: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/img_emoti.png?v=20180410) no-repeat;
      text-indent: -9999px;
      vertical-align: top;
      width: 20px;
      height: 17px;
      margin-top: 1px;
      background-position: 0px -120px;
      text-indent: 0;
  }
  
  .btn_like .ani_heart_m {
      margin: -63px 0 0 -63px;
  }
  
  .ani_heart_m {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 125px;
      height: 125px;
      margin: -63px 0 0 -63px;
      pointer-events: none;
  }
  
  .ani_heart_m.hi {
      background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_on_m.png);
      -webkit-background-size: 9000px 125px;
      background-size: 9000px 125px;
      animation: on_m 1.06s steps(72);
  }
  
  .ani_heart_m.bye {
      background-image: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/retina/zzim_off_m.png);
      -webkit-background-size: 8250px 125px;
      background-size: 8250px 125px;
      animation: off_m 1.06s steps(66);
  }
  
  @keyframes on_m {
    from { background-position: 0 }
    to { background-position: -9000px }
  }
  
  @keyframes off_m {
    from { background-position: 0 }
    to { background-position: -8250px }
  }
  
  
 /* 부트스트랩 css 수정 */
 ul{
 	margin : 0px;
 }
 
 footer{
 	font-family: 'IBM Plex Sans KR', sans-serif;
 }
 
 
 /* 모달 */
 #modal {
    display: none;
    position:absolute;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    z-index:1;
    
  }
  
#modal h2 {
    margin:0;   
}
  
#modal .modal-content {
    width:500px;
    padding:20px;
    background:#fff;
    border:2px solid #666;
    border-radius: 10px;
    position: fixed;
}
  
#modal .modal-layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}   

.modal-title{
    display: flex;
    justify-content: center;
}

.modal-location{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#modal-btn{
    display: flex;
    justify-content: center;
}
#modal-btn > button{
    height: 30px;
    margin: 10px;
    flex: 1 1 0;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}
#modal-close-btn{
    background-color: #ddd;
}
#modal-btn > button:nth-of-type(1){
    background-color: #FFDF3E;
}

#modal-btn > button:hover{
    background-color: #e6c317;
}

#modal-btn > button:nth-of-type(2):hover{
    background-color: rgb(185, 185, 185);
}
#modal-close{
    width: 200px;
    height: 50px;
    background-color: #FFDF3E;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
}

.modal-main{
    height: 200px;
    overflow-y: scroll;
    border-top: 2px solid rgb(34 36 38 / 15%);
    border-bottom: 2px solid rgb(34 36 38 / 15%);
    margin-right: 13px;
    margin: 0;
}

.modal-main{
    display: flex;
} 

.modal_location_search{
	display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 35px;	
}
 
#locationSearch{
	width: 85%;
	padding : 10px;
}
#locationSearchBtn{
	background-color: #FFDF3E;
    padding: 5px;
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 13px;
    width: 15%;
    text-align: center;
}