#container{
    min-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1200px;
}

h3, h2{
	font-weight:600;
}

#container_header{
    font-size : 28px;
}

/* 공지사항 목록페이지 */

#container_header > h1{
    font-size: 28px;
    margin-top : 0;
}

#notice_list{
    min-height: 800px;
}

.notice_list_item{
    width: 100%;
    border-bottom: 2px solid #bebebe;
    padding: 25px 0;
}

.notice_list_link{
    font-size: 20px;
    font-weight: 500;
}

/* 공지사항 상세페이지 */
#notice_content_header{
    text-align: center;
    font-size: 35px;
    color: #BF5846;
    padding-bottom: 70px;
    border-bottom: 2px solid #bebebe;
}

#notice_content_view{
    padding: 40px 0 40px 0;
    line-height: 2;
    min-height: 650px;
}

#list_btn{
    background-color: #FFDF3E;
    width: 400px;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
}
#notice-footer{
    padding: 40px 0 40px 0;
}

#list_btn > a{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 68px;
}

.terms .header {
    padding-bottom: 40px;
    border-bottom: 2px solid #bebebe;
    color: #BF5846;
    font-size: 35px;
   text-align: center;
}

.terms .view {
   padding: 45px 0 0 30px;
    line-height: 2;
}

.terms .content {margin-bottom: 60px;}

/* 자주 하는 질문*/
.select_tab{
    padding: 10px 0 30px 0;
    overflow: hidden;
    cursor: pointer;
}

.tab{
    color: #FFDF3E;
    border-bottom: 5px solid #FFDF3E;
    float: left;
    margin-right: 80px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    padding: 0 15px 5px 15px;
}

.tab_on{
    float: left;
    margin-right: 80px;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 5px;
}

#faq_list{
    min-height: 800px;
}

.faq{
    padding: 30px 0 30px 0;
    padding-left: 30px;
    line-height: 2;
    word-break: keep-all;
    
}

.faq_title{
    padding-left: 0;
    margin-left: -30px;
    line-height: 3.5;
    font-size: 17px;
}

.faq_title_no{
    color : #FFDF3E;
    font-weight: 500;
    font-size: 20px;

}

