/* 왼쪽 */
.left{
    border-radius: 10px;
    height: 800px;
    width: 260px;
    margin-right: 14px;
    background-color: white;
    border: 2px solid #ededed;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.box {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFDF3E;
}
.name{
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.introduce{
    height: 30px;
    text-align: center;
}

.left > .list{
    margin-top: 80px;
    font-weight: 600;
}

.left > .list > div{
    height: 50px;
    line-height: 48px;
    padding-left: 30px;
    cursor: pointer;
}

.selected{
    border-radius: 4px;
    border: 2px solid rgb(255, 223, 62);
    border-left: 15px solid rgb(255, 223, 62);
    animation: slide .5s;
}

@keyframes slide {
    from { border-left: 0px solid rgb(255, 223, 62); }
    to { border-left: 15px solid rgb(255, 223, 62); }
}