button{
    cursor: pointer;
}

.left > .list > div{
    cursor: pointer;
}

ol,ul,li,a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.container{
    min-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1200px;
    margin-top: 50px;
    display: flex;
    margin-top: 0;
}


/* 왼쪽 */
.left{
    border-radius: 10px;
    height: 800px;
    width: 260px;
    margin-right: 14px;
    background-color: white;
    border: 2px solid #ededed;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.box {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFDF3E;
}
.name{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.introduce{
    height: 30px;
    text-align: center;
}

main .list{
    margin-top: 80px;
    font-weight: 600;
}

main .list > div{
    height: 50px;
    line-height: 48px;
    padding-left: 30px;
}

.selected{
    border-radius: 4px;
    border: 2px solid rgb(255, 223, 62);
    border-left: 15px solid rgb(255, 223, 62);
}

.left > button {
    position: relative;
    top: 270px;
    margin-left: 25px;
    margin-right: 25px;
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 223, 62);
    font-weight: bold;
}


/* 오른쪽 */
.right{
    flex: 1 0 0;
    border-radius: 10px;
    border: 2px solid #ededed;
    background-color: white;
}

.table-colunm{
    font-size: 15px;
    font-weight: 800;
}

.right-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 10px 25px;
    border-bottom: 1px solid #ddd;
}

#new-class{
    background-color: rgb(255, 223, 62);
    border: none;
    width: 150px;
    border-radius: 5px;
    font-weight: 700;
    height: 43px;
    font-size: 13px;
    box-shadow: 3px 2px 5px 2px #0000001a;
    top: 15px;
    position: relative;
}

#new-class:hover{
    background-color: #e6c317;
}

.right > p{
    /* padding: 15px 25px 20px 25px; */
    padding: 15px 25px 10px 25px;
    border-bottom: 1px solid #ddd;
    color: #A16E50;
    font-size: 21px;
    font-weight: bolder;
}

.right p{
    color: #A16E50;
    font-weight: bolder;
    font-size: 21px;
}

.right > p > span, .right p > span{
    font-size: 25px;
    font-weight: bolder;
   	margin-right: 10px;
}
#class-status{
    font-size: 12px;
    color: orangered;
}
.table{
    margin: 10px;
    min-height: 600px;
}

.table * {
    font-size: 13px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;

    border: 1px solid #ddd;
}

.column{
    flex: 1 1 0;
    text-align: center;
    padding: 15px 0;
}

.column:nth-of-type(2){
    overflow: hidden;
    text-overflow: ellipsis;
}
.row:not(:nth-of-type(1)){
    border-top: 1px solid #ddd;
}
.row:nth-of-type(1){
    border-bottom: 2px solid #ddd;
}

.column:nth-of-type(1){
    flex: 0.5;
}

.invisible{
    display: none;
    height: 50px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.slide{
    cursor: pointer;
}

.invisible-btn{
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.invisible-btn > button{
    margin-left: 10px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgba(70, 70, 70, 0.788);
    background: none;
    cursor: pointer;
    height: 30px;
    
}

.invisible-btn > button:hover{
border-color: #e4e5ed;
background-color: #FFDF3E;
}

.modal-open-btn{
    width: 56px;
    height: 30px;
    margin-left: 10px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid rgba(70, 70, 70, 0.788);
    background: none;
}
.modal-open-btn:hover{
    border-color: #e4e5ed;
    background-color: #FFDF3E;

}


.reject, .delete{
    height: 25.33px;
    width: 70px;
    height: 30px;
}

/* 모달창 */
#modal {
    display: none;
    position:absolute;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    z-index:1;
  }
  
#modal h2 {
    margin:0;   
}
  
#modal .modal-content {
    width:500px;
    padding:20px;
    background:#fff;
    border:2px solid #666;
    border-radius: 10px;
}
  
#modal .modal-layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}   

.modal-title{
    display: flex;
    justify-content: center;
}

.modal-classname{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal-report{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    outline-color: #FFDF3E;
}


#modal-btn{
    display: flex;
    justify-content: center;
}
#modal-btn > button{
    height: 30px;
    margin: 10px;
    flex: 1 1 0;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}
#modal-close-btn{
    background-color: #ddd;
}
#modal-btn > button:nth-of-type(1){
    background-color: #FFDF3E;
}

#modal-btn > #existing{
    background-color: #FFDF3E;
}

#modal-btn > #existing:hover{
    background-color: #e6c317;
}

#modal-btn > button:hover{
    background-color: #e6c317;
}

#modal-btn > button:nth-of-type(2):hover{
    background-color: rgb(185, 185, 185);
}

.new-class-modal-close{
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    font-size: 18px;
}

.existing-class-select{
    width: 60px;
	border: 3px solid #FFDF3E;
    background-color: white;
    border-radius: 5px;
    margin: 2px 9px;
}

.existing-class-select:hover{
    background-color: #FFDF3E;
}

#modal-close{
    width: 200px;
    height: 50px;
    background-color: #FFDF3E;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
}

.modal-main{
    height: 200px;
    overflow-y: scroll;
    border-top: 2px solid rgb(34 36 38 / 15%);
    border-bottom: 2px solid rgb(34 36 38 / 15%);
    margin-right: 13px;
    margin: 0;
}

.modal-main{
    display: flex;
}

.receipt-table{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

.receipt-table th{
    background-color: whitesmoke;
    height: 50px;
}

.receipt-table tr{
    height: 45px;
}

.receipt-table tbody tr:nth-of-type(even) {
    background-color: #f8f8f8;
}


/* studentList.html - css*/

#guid{
    text-align: center;
}

/* select */
.cont-select {
    position: relative;
    width: 280px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .class-list{
      display: none;
  }
  
  .btn-select {
    width: 100%;
    padding: 13px 30px 13px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    background: url("../icon/img/more_icon.png") center right 14px no-repeat;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .btn-select:hover,
  .btn-select:focus {
    border: 1px solid #e6c317;
    outline: 3px solid #FFDF3E;
  }
  
  .list-member {
    background: white;
    list-style-type: none;
    display: none;
    position: absolute;
    width: 100%;
    top: 49px;
    left: 0;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  
  .btn-select.on {
    background: url("../icon/img/close_icon.png") center right 14px no-repeat;
  }
  
  .btn-select.on+.list-member {
    display: block;
  }
  
  .list-member li {
    left:0;
    height: 40px;
    padding: 5px 8px;
    box-sizing: border-box;
  }
  
  .list-member li button {
    width: 100%;
    padding: 7px 10px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .list-member li button:hover,
  .list-member li button:focus {
    background-color: #FFDF3E;
  }