<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="Admin" id="admin_rm">
		<id property="classNo" column="CLASS_NO" />
		
		<result property="className" column="CLASS_NM" />
		<result property="classRequestDate" column="CLASS_REQ_DT" />
		<result property="episodeCount" column="EP_COUNT" />
		<result property="memberName" column="MEMBER_NM" />
	</resultMap>
	
	<select id="selectList" resultMap="admin_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_REQ_DT, EP_COUNT, MEMBER_NM FROM CLASS
		JOIN EPISODE USING(CLASS_NO)
		JOIN TEACHER USING(MEMBER_NO)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE EP_ST = 0
	</select>
	
	<update id="agree">
		UPDATE EPISODE SET EP_ST = 2
		WHERE CLASS_NO = #{classNo}
	</update>
	
</mapper>
