<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classDetailMapper">

	<!-- 클래스 VO -->
	<resultMap type="ClassDetail" id="classDetail_rm">
		<id property="classNo" column="CLASS_NO" />
	
		<result property="classArea" column="CLASS_AREA" />
		<result property="classType" column="CLASS_TYPE" />
		<result property="classPerson" column="CLASS_PERSON" />
		<result property="classMinPerson" column="CLASS_MIN_PERSON" />
		<result property="classMaxPerson" column="CLASS_MAX_PERSON" />
		<result property="className" column="CLASS_NM" />
		<result property="classIntro" column="CLASS_INTRO" />
		<result property="classLevel" column="CLASS_LEVEL" />
		<result property="classReqDate" column="CLASS_REQ_DT" />
		<result property="classStatus" column="CLASS_ST" />
		<result property="categoryNo" column="CATG_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="categoryNm" column="CT_NM" />
	</resultMap>
	
	<!-- member VO -->
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		
		<result property="memberGrade" column="MEMBER_GRADE" />
		<result property="memberSt" column="MEMBER_ST" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberNm" column="MEMBER_NM" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberPno" column="MEMBER_PNO" />
		<result property="memberImg" column="MEMBER_IMG" />
		<result property="memberRegDt" column="MEMBER_REG_DT" />
		<result property="memberSecDt" column="MEMBER_SEC_DT" />
		<result property="teacherEnroll" column="TEACHER_ENROLL" />
		<result property="memberAgeGroup" column="MEMBER_AGEGROUP" />
		<result property="memberAgeCount" column="MEMBER_AGECOUNT" />
	</resultMap>
	
	<!-- 강사 sns VO -->
	<resultMap type="Sns" id="sns_rm">
		<id property="snsNo" column="SNS_NO"/>
		<result property="snsLink" column="SNS_LINK"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="snsDiv" column="SNS_DIV"/>
	</resultMap>
	
	<!-- episode 회차 VO -->
	<resultMap type="EPISODE" id="ep_rm">
		<id property="epNo" column="EP_NO" />
		
		<result property="epPrice" column="EP_PRICE" />
		<result property="ClassNo" column="CLASS_NO" />
		<result property="epSt" column="EP_ST" />
		<result property="epCount" column="EP_COUNT" />
		<result property="epPlace" column="EP_PLACE" />
	</resultMap>
	
	<!-- EpisodeSchedule VO -->
	<resultMap type="EpisodeSchedule" id="epSchedule_rm">
		<id property="epNo" column="EP_NO" />
		
		<result property="epCount" column="EP_COUNT" />
		<result property="remainPeopleCnt" column="REMAIN_PEOPLE_CNT" />
		<result property="epPrice" column="EP_PRICE" />
		<result property="schdlDt" column="SCHDL_DT" />
		<result property="schdlWeek" column="SCHDL_WEEK" />
		<result property="schdlStartTime" column="SCHDL_START_TIME" />
		<result property="schdlEndTime" column="SCHDL_END_TIME" />
		<result property="possibleFl" column="POSSIBLE_FL" />
		<result property="schdlTime" column="SCHDL_TIME" />
		<result property="registerStudentCnt" column="REGISTER_STUDENT_COUNT" />
	</resultMap>
	
	<!-- 클래스 등록(신청) VO -->
	<resultMap type="ClassRegister" id="classRegister_rm">
		<id property="regNo" column="REG_NO" />
		
		<result property="regNm" column="REG_NM" />
		<result property="regPhoneNo" column="REG_PNO" />
		<result property="payDt" column="PAY_DT" />
		<result property="payStauts" column="PAY_ST" />
		<result property="regStatus" column="REG_ST" />
		<result property="epNo" column="EP_NO" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>
	
	<!-- 클래스 후기 VO -->
	<resultMap type="ClassReview" id="classReview_rm">
		<id property="reviewNo" column="RE_NO" />
		
		<result property="reviewStar" column="RE_STAR" />
		<result property="reviewContent" column="RE_CONTENT" />
		<result property="reviewDt" column="RE_DT" />
		<result property="reviewStatus" column="RE_ST" />
		<result property="regNo" column="REG_NO" />
		<result property="reviewAvg" column="REVIEW_AVG" />
		<result property="memberName" column="MEMBER_NM"/>
		<result property="memberImg" column="MEMBER_IMG"/>
		<result property="memberNo" column="MEMBER_No"/>
	</resultMap>
	
	<!-- 강사 소개 VO -->
	<resultMap type="TeacherIntro" id="teacherIntro_rm">
		<id property="snsNo" column="SNS_NO" />
		
		<result property="snsLink" column="SNS_LINK" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="snsDiv" column="SNS_DIV" />
		<result property="snsId" column="SNS_ID" />
		
		<result property="teacherImg" column="TEACHER_IMG" />
		<result property="teacherIntro" column="TEACHER_INTRO" />
		<result property="teacherReqDt" column="TEACHER_REQ_DT" />
		<result property="teacherStatus" column="TEACHER_ST" />
		
		<result property="memberNm" column="MEMBER_NM" />
	</resultMap>
	
	<!-- 클래스 썸네일 이미지 조회 VO -->
	<resultMap type="ThumnailImg" id="thumnailImg_rm">
		<id property="thImgNo" column="TH_IMG_NO" />
		
		<result property="thImgNm" column="TH_IMG_NM" />
		<result property="thImgLevel" column="TH_IMG_LEVEL" />
		<result property="classNo" column="CLASS_NO" />
	</resultMap>
	
	<!-- 클래스 상세 (결제박스) VO -->
	<resultMap type="ClassDetailRight" id="classDetailRight_rm">
		<collection property="cdt" resultMap="classDetail_rm"/>
		<collection property="member" resultMap="member_rm"/>
		<collection property="ep" resultMap="ep_rm"/>
		<collection property="epSchedule" resultMap="epSchedule_rm"/>
		<collection property="classReg" resultMap="classRegister_rm"/>
	</resultMap>
	
	
	<!-- 클래스 상세조회 (오른쪽결제박스만) -->
	<select id="selectClassDetail" resultMap="classDetailRight_rm">
		SELECT CLASS.CLASS_NO, CT_NM , EP_COUNT, CLASS.CLASS_NM, CLASS_LEVEL,
		        CLASS_MAX_PERSON, CLASS_PERSON,
		        CLASS.MEMBER_NO, CLASS_TYPE , MEMBER_NM, NVL(open_price(#{classNo}), past_price(#{classNo})) EP_PRICE,
		        EP_PLACE
		FROM CLASS
		JOIN CLASS_CATEGORY ON CT_NO = CATG_NO
		JOIN MEMBER ON MEMBER.MEMBER_NO = CLASS.MEMBER_NO
		JOIN EPISODE ON CLASS.CLASS_NO = EPISODE.CLASS_NO
		WHERE CLASS.CLASS_NO = #{classNo}
		AND CLASS_ST = 2
		AND EP_COUNT = #{epCount}
	</select>
	
	<!-- 클래스 상세페이지 - 회차 스케쥴 (일정) 선택 -->
	<select id="selectEpisodeSchedule" resultMap="epSchedule_rm">
		SELECT A.*, 
			(select count(*) 
				from register
				where pay_st = 0 
				and reg_st = 0
				and ep_no = A.EP_NO) REGISTER_STUDENT_COUNT  
		FROM (
			SELECT 
				SCHDL_TIME,
				EP_NO, 
				EP_COUNT, 
				CLASS_MAX_PERSON - CLASS_PERSON "REMAIN_PEOPLE_CNT", 
				EP_PRICE, 
				TO_CHAR(SCHDL_DT, 'YYYY"년" MM"월" DD"일' ) SCHDL_DT,
				SCHDL_WEEK, 
				SCHDL_START_TIME, 
				SCHDL_END_TIME,
				(SELECT COUNT(*) FROM EP_SCHEDULE WHERE SCHDL_NO = ES.SCHDL_NO AND SCHDL_DT > SYSDATE) "POSSIBLE_FL"
			FROM CLASS
			JOIN EPISODE USING(CLASS_NO)
			JOIN EP_SCHEDULE ES USING(EP_NO)
			WHERE CLASS_NO = #{classNo}
			<if test="classType == 1">
				AND EP_COUNT = ${epCount}
			</if>
			
			ORDER BY SCHDL_DT, TO_DATE(SCHDL_START_TIME, 'HH24:MI')
        ) A
	</select>
	
	<!-- 클래스 신청 여부 조회  -->
	<select id="selectRegisterDt" resultType="string" >
		SELECT TO_CHAR(SCHDL_DT, 'YYYY-MM-DD ' ) ||  SCHDL_START_TIME SCHDL_DT FROM CLASS 
		JOIN EPISODE USING(CLASS_NO)
		JOIN EP_SCHEDULE USING(EP_NO)
		JOIN REGISTER R USING(EP_NO)
		WHERE CLASS_NO = ${classNo}
		AND R.MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 클래스 후기 평점 조회 -->
	<select id="selectReviewAvg" resultMap="classReview_rm">
		SELECT ROUND(AVG(RE_STAR)) REVIEW_AVG FROM REVIEW
		JOIN REGISTER USING(REG_NO)
		JOIN EPISODE USING(EP_NO)
		WHERE CLASS_NO = ${classNo}
	</select>
	
	<!--  결제(신청) 내역 DB삽입 -->
	<insert id="insertRegister">
		INSERT into register values(SEQ_REG_NO.nextval, #{regNm}, #{regPhoneNo}, default, default, default, #{epNo}, #{memberNo})
	</insert>
	
	<!-- 찜목록에 추가 -->
	<insert id="insertWish">
		INSERT INTO CLASS_WISH VALUES(#{memberNo}, #{classNo})
	</insert>
	
	<!-- 찜목록에서 삭제 -->
	<delete id="deleteWish">
		DELETE FROM CLASS_WISH WHERE MEMBER_NO = #{memberNo} AND CLASS_NO = #{classNo}
	</delete>

	<!-- 해당 클래스 찜여부 -->
	<select id="selectWishFlag" resultType="_int">
		SELECT COUNT(*) FROM CLASS_WISH 
		WHERE CLASS_NO = #{classNo} AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 강사 sns 조회 -->
	<select id="selectTeacherSns" resultMap="sns_rm">
		SELECT S.SNS_LINK, S.SNS_DIV 
		FROM SNS S
		JOIN CLASS C USING(MEMBER_NO)
		WHERE CLASS_NO = #{classNo}
		ORDER BY SNS_NO
	</select>
	
	<!-- 강사 소개 조회  -->
	<select id="selectTeacher" resultMap="teacherIntro_rm">
		select distinct c.class_no,  TEACHER_IMG, TEACHER_INTRO, MEMBER_NM FROM TEACHER T
		JOIN MEMBER M ON M.MEMBER_NO = T.MEMBER_NO 
		join class c on c.member_no = m.member_no
		join sns s on s.member_no = m.member_no
		WHERE class_no = #{classNo}
	</select>
	
	<!-- 클래스 썸네일 이미지 조회  -->
	<select id="selectThumImg" resultMap="thumnailImg_rm">
		select TH_IMG_NO, TH_IMG_NM, TH_IMG_LEVEL, CLASS_NO from THUMBNAIL_IMG
		where class_no = #{classNo}
	</select>
	<!-- 차트 성별 조회 -->
	<select id="genderChart" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NM, M.MEMBER_GENDER 
		FROM CLASS C
		JOIN EPISODE E ON(C.CLASS_NO = E.CLASS_NO)
		JOIN REGISTER R ON(R.EP_NO = E.EP_NO)
		JOIN MEMBER M ON(M.MEMBER_NO = R.MEMBER_NO)
		WHERE C.CLASS_NO = ${classNo}
	</select>
	
	<!-- 차트 연령대 조회 -->
	<select id="ageChart" resultMap="member_rm">

		SELECT TO_CHAR(MEMBER_AGEGROUP) AS MEMBER_AGEGROUP, COUNT(*) AS MEMBER_AGECOUNT
		FROM(
		    SELECT CASE 
		    WHEN AGE_GROUP &lt; 20 THEN '10대'
		    WHEN AGE_GROUP &lt; 30 THEN '20대'  
		    WHEN AGE_GROUP &lt; 40 THEN '30대'
		    WHEN AGE_GROUP &lt; 50 THEN '40대' 
		    ELSE '50대이상'
		    END AS MEMBER_AGEGROUP
		    FROM (SELECT TO_NUMBER((TO_CHAR(PAY_DT,'YYYY'))- TO_NUMBER(TO_CHAR(MEMBER_BIRTH,'YYYY')-1)) AGE_GROUP 
		        FROM (SELECT M.MEMBER_BIRTH, R.PAY_DT
		            FROM CLASS C
		            JOIN EPISODE E ON(C.CLASS_NO = E.CLASS_NO)
		            JOIN REGISTER R ON(R.EP_NO = E.EP_NO)
		            JOIN MEMBER M ON(M.MEMBER_NO = R.MEMBER_NO)
		            WHERE C.CLASS_NO = ${classNo}
		        )
		    )
		)
		GROUP BY MEMBER_AGEGROUP
	</select>
	
	<!-- 후기 목록 조회 -->
	<select id="reviewList" resultMap="classReview_rm">
		SELECT RE_STAR, RE_CONTENT, RE_DT, RE_ST, SUBSTR(MEMBER_NM, 1, 1) MEMBER_NM, NVL(MEMBER_IMG, 'temp.png') MEMBER_IMG, MEMBER_NO, RE_NO
		FROM REVIEW
		JOIN REGISTER USING(REG_NO)
		JOIN MEMBER USING(MEMBER_NO)
        JOIN EPISODE USING(EP_NO)
		WHERE CLASS_NO = #{classNo} AND RE_ST = 0
	</select>
	
	<!-- 후기 목록 카운트 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		JOIN REGISTER USING(REG_NO)
		JOIN MEMBER USING(MEMBER_NO)
        JOIN EPISODE USING(EP_NO)
		WHERE CLASS_NO = #{classNo} AND RE_ST = 0
	</select>
	
	<!-- 후기 삭제 -->
	<update id="reviewDelete">
		UPDATE REVIEW SET RE_ST = 1 WHERE RE_NO = #{reviewNo}
	</update>
	
	<!-- 후기 수정 -->
	<update id="reviewUpdate">
		UPDATE REVIEW SET RE_CONTENT = #{reviewContent}, RE_STAR = #{reviewStar} WHERE RE_NO = #{reviewNo}
	</update>
	
	<!-- 후기 신고 -->
	<insert id="report" useGeneratedKeys="true" parameterType="hashmap">
		<selectKey order="BEFORE" resultType="_int" keyProperty="registerNo">
			SELECT REG_NO FROM REGISTER WHERE MEMBER_NO = #{memberNo} AND EP_NO = #{episodeNo}
		</selectKey>
		INSERT INTO REPORT VALUES(SEQ_REPORT_NO.NEXTVAL, 1, #{reportContent}, 0, #{registerNo}, SYSDATE)
	</insert>
</mapper>
