<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classListMapper">
	<resultMap type="ClassList" id="classList_rm">
		<id property="classNo" column="CLASS_NO"/>
		
		<result property="classArea" column="CLASS_AREA"/>
		<result property="classType" column="CLASS_TYPE"/>
		<result property="className" column="CLASS_NM"/>
		<result property="thumbnailImageName" column="TH_IMG_NM"/>
		<result property="categoryName" column="CT_NM"/>
		<result property="teacherImage" column="TEACHER_IMG"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="categoryDetailName" column="CT_DETAIL_NM"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="themeNo" column="THEME_NO"/>
		<result property="themeImage" column="THEME_IMG"/>
		<result property="themeColor" column="THEME_COLOR"/>
		<result property="episodeCount" column="EP_COUNT"/>
		<result property="starAverage" column="STAR_AVG"/>
		<result property="heartFlag" column="HEART_FLAG"/>
		<result property="heartCount" column="HEART_COUNT"/>
		<result property="episodePrice" column="EP_PRICE"/>
	</resultMap>
	
	<!-- 클래스 개수 조회 -->
	<select id="selectClassCount" resultType="_int">
		SELECT COUNT(*) FROM (
		    SELECT C.CLASS_NO, 
		    OPEN_PRICE(C.CLASS_NO) EP_PRICE 
		    FROM CLASS C 
		    JOIN THUMBNAIL_IMG T ON(C.CLASS_NO = T.CLASS_NO) 
		    JOIN CLASS_CATEGORY ON(CATG_NO = CT_NO) 
		    JOIN TEACHER USING(MEMBER_NO) 
		    JOIN MEMBER USING(MEMBER_NO) 
		    LEFT JOIN CT_DETAIL USING(CT_DETAIL_NO) 
		    WHERE TH_IMG_LEVEL = 0 AND MEMBER_ST = 0 
		    <choose>
		    	<!-- 클래스 검색 목록 -->
		    	<when test="pageKey == 'search'">
				    <choose>
				    	<when test="search == '원데이'">AND CLASS_TYPE = 0 </when>
				    	<when test="search == '정규'">AND CLASS_TYPE = 1 </when>
				    	<otherwise>
						    AND ((CLASS_AREA LIKE '%${search}%' OR CLASS_NM LIKE '%${search}%' 
						    OR CT_NM LIKE '%${search}%' OR MEMBER_NM LIKE '%${search}%' OR CT_DETAIL_NM LIKE '%${search}%'))
				    	</otherwise>
				    </choose>
		    	</when>
		    	<!-- 찜한 클래스 -->
		    	<when test="pageKey == 'wish'">
			    	 AND C.CLASS_NO IN (SELECT CLASS_NO FROM CLASS_WISH WHERE MEMBER_NO = ${memberNo})
			    </when>
			    <!-- 카테고리 -->
		    	<when test="pageKey == 'category'">
				    <if test="ctNo != 0">
			    	    AND CATG_NO = #{ctNo}
				    	<if test="ctDetailNo != 0">
		    				AND CT_DETAIL_NO = #{ctDetailNo}
				    	</if>
				    </if>
			    </when>
		    </choose>
		    <!-- 클래스 목록 옵션 -->
		    <if test="optionFlag == 1">
		    	<!-- 가격대 -->
			    <if test="price != null">
			    	AND (
			    	<foreach collection="price" item="p" separator=" OR ">
				    	<choose> 
				    		<when test="p == 1">OPEN_PRICE(C.CLASS_NO) &lt; 10000</when>
				    		<when test="p == 2">OPEN_PRICE(C.CLASS_NO) BETWEEN 10000 AND 29999</when>
				    		<when test="p == 3">OPEN_PRICE(C.CLASS_NO) BETWEEN 30000 AND 49999</when>
				    		<when test="p == 4">OPEN_PRICE(C.CLASS_NO) BETWEEN 50000 AND 99999</when>
				    		<when test="p == 5">OPEN_PRICE(C.CLASS_NO) >= 100000</when>
				    	</choose>
			    	</foreach>
			    	) 
			    </if>
			    <!-- 지역 -->
			    <if test="classArea1 != ''">
			    	AND CLASS_AREA LIKE '%'||#{classArea1}||'%' 
			    	<if test="classArea2 != ''">
			    		AND CLASS_AREA LIKE '%'||#{classArea2}||'%' 
			    	</if>
			    </if>
			    <!-- 수업 형태 -->
			    <if test="classType != null and classType != ''">
				    <if test="classType != '전체'">
				    	AND CLASS_TYPE = 
				    	<choose>
				    		<when test="classType == '원데이'">0 </when>
				    		<when test="classType == '정규'">1 </when>
				    	</choose>
				    </if>
			    </if>
			</if>
		)
		WHERE EP_PRICE IS NOT NULL
	</select>
	
	<!-- 클래스 카드 조회 -->
	<select id="selectClassCard" resultMap="classList_rm">
		SELECT * FROM (
		    SELECT C.CLASS_NO, CLASS_AREA, CLASS_TYPE, CLASS_NM, 
		    OPEN_EP_COUNT(C.CLASS_NO) EP_COUNT, 
		    OPEN_PRICE(C.CLASS_NO) EP_PRICE, 
		    TH_IMG_NM, CT_NM, TEACHER_IMG, MEMBER_NM, CT_DETAIL_NM, 
		    <if test="pageKey == 'theme'">THEME_IMG, </if>
		        NVL((SELECT ROUND(AVG(RE_STAR), 1) FROM CLASS 
		            JOIN EPISODE USING(CLASS_NO) 
		            JOIN REGISTER USING(EP_NO) 
		            JOIN REVIEW USING(REG_NO) 
		            WHERE C.CLASS_NO = CLASS_NO), 0) STAR_AVG, 
		        (SELECT COUNT(*) FROM CLASS_WISH WHERE C.CLASS_NO = CLASS_NO) HEART_COUNT, 
		        (SELECT COUNT(*) FROM CLASS_WISH WHERE C.CLASS_NO = CLASS_NO AND MEMBER_NO = ${memberNo}) HEART_FLAG 
		    FROM CLASS C 
		    JOIN THUMBNAIL_IMG T ON(C.CLASS_NO = T.CLASS_NO) 
		    JOIN CLASS_CATEGORY ON(CATG_NO = CT_NO) 
		    JOIN TEACHER USING(MEMBER_NO) 
		    JOIN MEMBER USING(MEMBER_NO) 
		    LEFT JOIN CT_DETAIL USING(CT_DETAIL_NO) 
		    LEFT JOIN CLASS_THEME CTH ON(C.CLASS_NO = CTH.CLASS_NO) 
    		LEFT JOIN THEME USING(THEME_NO) 
		    WHERE TH_IMG_LEVEL = 0 AND MEMBER_ST = 0 
		    <!-- 클래스 목록 옵션 -->
   		    <if test="optionFlag == 1">
   		    	<!-- 가격대 -->
			    <if test="price != null">
			    	AND (
			    	<foreach collection="price" item="p" separator=" OR ">
				    	<choose> 
				    		<when test="p == 1">OPEN_PRICE(C.CLASS_NO) &lt; 10000</when>
				    		<when test="p == 2">OPEN_PRICE(C.CLASS_NO) BETWEEN 10000 AND 29999</when>
				    		<when test="p == 3">OPEN_PRICE(C.CLASS_NO) BETWEEN 30000 AND 49999</when>
				    		<when test="p == 4">OPEN_PRICE(C.CLASS_NO) BETWEEN 50000 AND 99999</when>
				    		<when test="p == 5">OPEN_PRICE(C.CLASS_NO) >= 100000</when>
				    	</choose>
			    	</foreach>
			    	)
			    </if>
			    <!-- 지역 -->
			    <if test="classArea1 != ''">
			    	AND CLASS_AREA LIKE '%'||#{classArea1}||'%' 
			    	<if test="classArea2 != ''">
			    		AND CLASS_AREA LIKE '%'||#{classArea2}||'%' 
			    	</if>
			    </if>
		    	<!-- 수업 형태 -->
			    <if test="classType != null and classType !=''">
				    <if test="classType != '전체'">
				    	AND CLASS_TYPE = 
				    	<choose>
				    		<when test="classType == '원데이'">0 </when>
				    		<when test="classType == '정규'">1 </when>
				    	</choose>
				    </if>
			    </if>
			</if>
			<!-- 클래스 검색 목록 -->
    		<if test="pageKey == 'search'">
			    <choose>
			    	<when test="search == '원데이'">AND CLASS_TYPE = 0 </when>
			    	<when test="search == '정규'">AND CLASS_TYPE = 1 </when>
			    	<!-- 클래스 검색 목록 검색 결과 X -->
				    <when test="result == 'no'">
				    	AND (SELECT ROUND(AVG(RE_STAR), 1) FROM CLASS 
					            JOIN EPISODE USING(CLASS_NO) 
					            JOIN REGISTER USING(EP_NO) 
					            JOIN REVIEW USING(REG_NO) 
					            WHERE C.CLASS_NO = CLASS_NO) >= 4.0 
					    ORDER BY STAR_AVG DESC
				    </when>
			    	<otherwise>
					    AND ((CLASS_AREA LIKE '%${search}%' OR CLASS_NM LIKE '%${search}%' 
					    OR CT_NM LIKE '%${search}%' OR MEMBER_NM LIKE '%${search}%' OR CT_DETAIL_NM LIKE '%${search}%'))
			    	</otherwise>
			    </choose>
		    </if>
		    <!-- 클래스 목록 옵션 -->
   		    <if test="optionFlag == 1">
			    <!-- 정렬 -->
			    <if test="classSort != ''">
			    	<choose>
			    		<when test="classSort == '인기순'">ORDER BY REG_COUNT(C.CLASS_NO) DESC</when>
			    		<when test="classSort == '별점 높은 순'">ORDER BY STAR_AVG DESC</when>
			    		<when test="classSort == '찜 많은 순'">ORDER BY HEART_COUNT DESC</when>
			    		<when test="classSort == '후기 많은 순'">ORDER BY REVIEW_COUNT(C.CLASS_NO) DESC</when>
			    	</choose>
			    </if>
			</if>
			<choose>
				<!-- 클래스 카테고리 목록 -->
		    	<when test="pageKey == 'category'">
				    <if test="ctNo != 0">
			    	    AND CATG_NO = #{ctNo}
				    	<if test="ctDetailNo != 0">
		    				AND CT_DETAIL_NO = #{ctDetailNo}
				    	</if>
				    </if>
			    </when>
			    <!-- 메인 페이지 주변 -->
			    <when test="pageKey == 'location'">
			    	<!-- Default : 클래스 등록이 가장 많은 지역 -->
			    	<if test="location == null">
				    	AND CLASS_AREA = (
					        SELECT CLASS_AREA FROM (
					            SELECT CLASS_AREA, COUNT(*) COUNT FROM CLASS 
					            GROUP BY CLASS_AREA 
					            ORDER BY COUNT DESC)
					        WHERE ROWNUM = 1
					    )
			    	</if>
			    	<!-- 현재 위치 설정 -->
			    	<if test="location != null">
			    		AND CLASS_AREA LIKE #{location}||'%'
			    	</if>
			    </when>
			    <!-- 메인 페이지 인기 -->
			    <when test="pageKey == 'hot'">
			    	ORDER BY REG_COUNT(C.CLASS_NO) DESC
			    </when>
			    <!-- 메인 페이지 신규 -->
			    <when test="pageKey == 'new'">
			    	ORDER BY NEW_EP_NO(C.CLASS_NO) DESC
			    </when>
			    <!-- 클래스 테마 목록 -->
			    <when test="pageKey == 'theme'">
			    	AND THEME_ST = 3 AND SYSDATE BETWEEN THEME_START_DT AND THEME_END_DT AND THEME_NO = ${themeNo}
			    </when>
			    <!-- 찜한 클래스 -->
			    <when test="pageKey == 'wish'">
			    	AND C.CLASS_NO IN (SELECT CLASS_NO FROM CLASS_WISH WHERE MEMBER_NO = ${memberNo})
			    </when>
		    </choose>
		)
		WHERE EP_PRICE IS NOT NULL
		<!-- 메인 페이지, 클래스 검색 목록 검색 결과 X -->
		<if test="type != 'location' and type != 'hot' and type != 'new'">
			<if test="pageKey == 'location' || pageKey == 'hot' || pageKey == 'new' || result == 'no'">
				AND ROWNUM &lt;= 12
			</if>
		</if>
	</select>

	<!-- 찜한 클래스 삽입 -->
	<insert id="insertHeart">
		INSERT INTO CLASS_WISH VALUES(${memberNo}, ${classNo})
	</insert>
	
	<!-- 찜한 클래스 삭제 -->
	<delete id="deleteHeart">
		DELETE FROM CLASS_WISH WHERE MEMBER_NO = ${memberNo} AND CLASS_NO = ${classNo}
	</delete>
	
	<!-- 클래스 테마 이미지 조회 -->
	<select id="selectThemeImage" resultMap="classList_rm">
		SELECT THEME_NO, THEME_IMG, THEME_COLOR FROM THEME
	</select>
</mapper>
