<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classDetailMapper">

	<!-- 클래스 VO -->
	<resultMap type="ClassDetail" id="classDetail_rm">
		<id property="classNo" column="CLASS_NO" />
	
		<result property="classArea" column="CLASS_AREA" />
		<result property="classType" column="CLASS_TYPE" />
		<result property="classPerson" column="CLASS_PERSON" />
		<result property="classMinPerson" column="CLASS_MIN_PERSON" />
		<result property="classMaxPerson" column="CLASS_MAX_PERSON" />
		<result property="className" column="CLASS_NM" />
		<result property="classIntro" column="CLASS_INTRO" />
		<result property="classLevel" column="CLASS_LEVEL" />
		<result property="classReqDate" column="CLASS_REQ_DT" />
		<result property="classStatus" column="CLASS_ST" />
		<result property="categoryNo" column="CATG_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="categoryNm" column="CT_NM" />
	</resultMap>
	
	<!-- member VO -->
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		
		<result property="memberGrade" column="MEMBER_GRADE" />
		<result property="memberSt" column="MEMBER_ST" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberNm" column="MEMBER_NM" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberPno" column="MEMBER_PNO" />
		<result property="memberImg" column="MEMBER_IMG" />
		<result property="memberRegDt" column="MEMBER_REG_DT" />
		<result property="memberSecDt" column="MEMBER_SEC_DT" />
		<result property="teacherEnroll" column="TEACHER_ENROLL" />
		<result property="memberKey" column="MEMBER_KEY" />
	</resultMap>
	
	<!-- episode 회차 VO -->
	<resultMap type="EPISODE" id="ep_rm">
		<id property="epNo" column="EP_NO" />
		
		<result property="epPrice" column="EP_PRICE" />
		<result property="ClassNo" column="CLASS_NO" />
		<result property="epSt" column="EP_ST" />
		<result property="epCount" column="EP_COUNT" />
		<result property="epPlace" column="EP_PLACE" />
	</resultMap>
	
	<!-- EpisodeSchedule VO -->
	<resultMap type="EpisodeSchedule" id="epSchedule_rm">
		<id property="epNo" column="EP_NO" />
		
		<result property="epCount" column="EP_COUNT" />
		<result property="remainPeopleCnt" column="REMAIN_PEOPLE_CNT" />
		<result property="epPrice" column="EP_PRICE" />
		<result property="schdlDt" column="SCHDL_DT" />
		<result property="schdlWeek" column="SCHDL_WEEK" />
		<result property="schdlStartTime" column="SCHDL_START_TIME" />
		<result property="schdlEndTime" column="SCHDL_END_TIME" />
		<result property="possibleFl" column="POSSIBLE_FL" />
		<result property="schdlTime" column="SCHDL_TIME" />
	</resultMap>
	
	<!-- 클래스 등록(신청) VO -->
	<resultMap type="ClassRegister" id="classRegister_rm">
		<id property="regNo" column="REG_NO" />
		
		<result property="regNm" column="REG_NM" />
		<result property="regPhoneNo" column="REG_PNO" />
		<result property="payDt" column="PAY_DT" />
		<result property="payStauts" column="PAY_ST" />
		<result property="regStatus" column="REG_ST" />
		<result property="epNo" column="EP_NO" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>
	
	<!-- 클래스 후기 VO -->
	<resultMap type="ClassReview" id="classReview_rm">
		<id property="reviewNo" column="RE_NO" />
		
		<result property="reviewStar" column="RE_STAR" />
		<result property="reviewContent" column="RE_CONTENT" />
		<result property="reviewDt" column="RE_DT" />
		<result property="reviewStatus" column="RE_ST" />
		<result property="regNo" column="REG_NO" />
		<result property="reviewAvg" column="REVIEW_AVG" />
	</resultMap>
	
	<!-- 강사 소개 VO -->
	<resultMap type="TeacherIntro" id="teacherIntro_rm">
		<id property="snsNo" column="SNS_NO" />
		
		<result property="snsLink" column="SNS_LINK" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="snsDiv" column="SNS_DIV" />
		<result property="snsId" column="SNS_ID" />
		
		<result property="teacherImg" column="TEACHER_IMG" />
		<result property="teacherIntro" column="TEACHER_INTRO" />
		<result property="teacherReqDt" column="TEACHER_REQ_DT" />
		<result property="teacherStatus" column="TEACHER_ST" />
		
		<result property="memberNm" column="MEMBER_NM" />
	</resultMap>
	
	

	
	<!-- 클래스 상세 (결제박스) VO -->
	<resultMap type="ClassDetailRight" id="classDetailRight_rm">
		<collection property="cdt" resultMap="classDetail_rm"/>
		<collection property="member" resultMap="member_rm"/>
		<collection property="ep" resultMap="ep_rm"/>
		<collection property="epSchedule" resultMap="epSchedule_rm"/>
		<collection property="classReg" resultMap="classRegister_rm"/>
	</resultMap>
	
	
	
	
	<!-- 클래스 상세조회 (오른쪽결제박스만) -->
	<select id="selectClassDetail" resultMap="classDetailRight_rm">
		SELECT CLASS.CLASS_NO, CT_NM , EP_COUNT, CLASS.CLASS_NM, CLASS_LEVEL,
		        CLASS_MAX_PERSON,
		        CLASS.MEMBER_NO, CLASS_TYPE , MEMBER_NM, open_price(#{classNo}) EP_PRICE,
		        EP_PLACE
		FROM CLASS
		JOIN CLASS_CATEGORY ON CT_NO = CATG_NO
		JOIN MEMBER ON MEMBER.MEMBER_NO = CLASS.MEMBER_NO
		JOIN EPISODE ON CLASS.CLASS_NO = EPISODE.CLASS_NO
		WHERE CLASS.CLASS_NO = #{classNo}
		AND CLASS_ST = 2
		AND EP_COUNT IN (SELECT MAX(EP_COUNT) FROM EPISODE WHERE EPISODE.CLASS_NO = #{classNo})
	</select>
	
	<!-- 클래스 상세페이지 - 회차 스케쥴 (일정) 선택 -->
	<select id="selectEpisodeSchedule" resultMap="epSchedule_rm">
		SELECT 
				 SCHDL_TIME,
		       EP_NO, 
		       EP_COUNT, 
		       CLASS_MAX_PERSON - CLASS_PERSON "REMAIN_PEOPLE_CNT", 
		       EP_PRICE, 
		       TO_CHAR(SCHDL_DT, 'YYYY"년" MM"월" DD"일' ) SCHDL_DT,
		       SCHDL_WEEK, 
		       SCHDL_START_TIME, 
		       SCHDL_END_TIME,
		       (SELECT COUNT(*) FROM EP_SCHEDULE WHERE SCHDL_NO = ES.SCHDL_NO AND SCHDL_DT > SYSDATE) "POSSIBLE_FL"
		FROM CLASS
		JOIN EPISODE USING(CLASS_NO)
		JOIN EP_SCHEDULE ES USING(EP_NO)
		WHERE CLASS_NO = #{classNo}
		ORDER BY SCHDL_DT, TO_DATE(SCHDL_START_TIME, 'HH24:MI')
	</select>
	
	<!-- 클래스 신청 여부 조회  -->
	<select id="selectRegisterDt" resultType="string" >
		SELECT TO_CHAR(SCHDL_DT, 'YYYY-MM-DD ' ) ||  SCHDL_START_TIME SCHDL_DT FROM CLASS 
		JOIN EPISODE USING(CLASS_NO)
		JOIN EP_SCHEDULE USING(EP_NO)
		JOIN REGISTER R USING(EP_NO)
		WHERE CLASS_NO = ${classNo}
		AND R.MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 클래스 후기 평점 조회 -->
	<select id="selectReviewAvg" resultMap="classReview_rm">
		SELECT ROUND(AVG(RE_STAR)) REVIEW_AVG FROM REVIEW
		JOIN REGISTER USING(REG_NO)
		JOIN EPISODE USING(EP_NO)
		WHERE CLASS_NO = ${classNo}
	</select>
	
	<!--  결제(신청) 내역 DB삽입 -->
	<insert id="insertRegister">
		INSERT into register values(SEQ_REG_NO.nextval, #{regNm}, #{regPhoneNo}, default, default, default, #{epNo}, #{memberNo})
	</insert>
	
	<!-- 찜목록에 추가 -->
	<insert id="insertWish">
		INSERT INTO CLASS_WISH VALUES(#{memberNo}, #{classNo})
	</insert>
	
	<!-- 찜목록에서 삭제 -->
	<delete id="deleteWish">
		DELETE FROM CLASS_WISH WHERE MEMBER_NO = #{memberNo} AND CLASS_NO = #{classNo}
	</delete>

	<!-- 해당 클래스 찜여부 -->
	<select id="selectWishFlag" resultType="_int">
		SELECT COUNT(*) FROM CLASS_WISH 
		WHERE CLASS_NO = #{classNo} AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 강사 소개 조회  -->
	<select id="selectTeacher" resultMap="teacherIntro_rm">
		select c.class_no,  TEACHER_IMG, TEACHER_INTRO, MEMBER_NM, sns_id FROM TEACHER T
		JOIN MEMBER M ON M.MEMBER_NO = T.MEMBER_NO 
		join class c on c.member_no = m.member_no
		join sns s on s.member_no = m.member_no
		WHERE class_no = #{classNo}
	</select>
	
</mapper>
