<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classMapper">

	<!-- 클래스 -->
	<resultMap type="ClassDetail" id="class_rm">
		<id property="classNo" column="CLASS_NO" />
		
		<result property="classArea" column="CLASS_AREA" />
		<result property="classType" column="CLASS_TYPE" />
		<result property="classPerson" column="CLASS_PERSON" />
		<result property="classMinPerson" column="CLASS_MIN_PERSON" />
		<result property="classMaxPerson" column="CLASS_MAX_PERSON" />
		<result property="className" column="CLASS_NM" />
		<result property="classIntro" column="CLASS_INTRO" />
		<result property="classLevel" column="CLASS_LEVEL" />
		<result property="classReqDate" column="CLASS_REQ_DT" />
		<result property="classStatus" column="CLASS_ST" />
		<result property="categoryNo" column="CATG_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="categoryDetailNo" column="CT_DETAIL_NO" />
	</resultMap>

	<!-- 클래스 이미지 -->
	<resultMap type="ClassDetailImage" id="classImage_rm">
		<id property="thImgNo" column="TH_IMG_NO"/>
		
		<result property="thImgNm" column="TH_IMG_NM"/>
		<result property="thImgLevel" column="TH_IMG_LEVEL"/>
		<result property="classNo" column="CLASS_NO"/>
	</resultMap>


	<resultMap type="EpisodeClass" id="episode_class_rm">
		<id property="epNo" column="EP_NO"/>
		
		<result property="classNo" column="CLASS_NO"/>
		
		<result property="epCount" column="EP_COUNT"/>
		<result property="studyStatus" column="STUDY_STATUS"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="deleteStatus" column="DELETE_STATUS"/>
		<result property="calStatus" column="CAL_STATUS"/>
	</resultMap>

	<!-- 영수증 -->
	<resultMap type="Receipt" id="receipt_rm">
		<id property="receiptNo" column="RECEIPT_NO"/>
		
		<result property="classNm" column="CLASS_NM"/>
		<result property="teacherNm" column="TEACHER_NM"/>
		<result property="studentNm" column="STUDENT_NM"/>
		<result property="price" column="PRICE"/>
		<result property="calDate" column="CAL_DATE"/>
	</resultMap>

	<!-- 진행 중인 클래스 목록 -->
	<resultMap type="OngingClass" id="ongoing_class_rm">
		<id property="studentNo" column="STUDENT_NO"/>
		
		<result property="classNo" column="CLASS_NO"/>
		<result property="className" column="CLASS_NM"/>
		<result property="epCount" column="EP_COUNT"/>
		<result property="studentName" column="STUDENT_NM"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="reportCount" column="REPORT_COUNT"/>
	</resultMap>
	
	
	<!-- 회차 -->
	<resultMap type="Episode" id="ep_rm">
		<id property="epNo" column="EP_NO" />
		
		<result property="epPrice" column="EP_PRICE" />
		<result property="classNo" column="CLASS_NO" />
		<result property="epSt" column="EP_ST" />
		<result property="epCount" column="EP_COUNT" />
		<result property="epPlace" column="EP_PLACE" />
		<result property="classNm" column="CLASS_NM" />
	</resultMap>
	
	<!-- 스케쥴 -->
	<resultMap type="EpisodeSchedule" id="epSchedule_rm">
		<id property="epNo" column="EP_NO" />
		
		<result property="epCount" column="EP_COUNT" />
		<result property="remainPeopleCnt" column="REMAIN_PEOPLE_CNT" />
		<result property="epPrice" column="EP_PRICE" />
		<result property="schdlDt" column="SCHDL_DT" />
		<result property="schdlWeek" column="SCHDL_WEEK" />
		<result property="schdlStartTime" column="SCHDL_START_TIME" />
		<result property="schdlEndTime" column="SCHDL_END_TIME" />
		<result property="possibleFl" column="POSSIBLE_FL" />
		<result property="schdlTime" column="SCHDL_TIME" />
	</resultMap>
	
	<!-- 회원 -->
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		
		<result property="memberGrade" column="MEMBER_GRADE" />
		<result property="memberSt" column="MEMBER_ST" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberNm" column="MEMBER_NM" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberPno" column="MEMBER_PNO" />
		<result property="memberImg" column="MEMBER_IMG" />
		<result property="memberRegDt" column="MEMBER_REG_DT" />
		<result property="memberSecDt" column="MEMBER_SEC_DT" />
		<result property="teacherEnroll" column="TEACHER_ENROLL" />
		<result property="memberKey" column="MEMBER_KEY" />
	</resultMap>
	
	<!-- 소개이미지 -->
	<resultMap type="IntroImg" id="introImg_rm">
		<id property="introImgNo" column="INTRO_IMG_NO" />
		
		<result property="IntroImgName" column="INTRO_IMG_NAME" />
		<result property="classNo" column="CLASS_NO" />
	</resultMap>


	<!-- 클래스 등록 -->
	<insert id="classInsert" useGeneratedKeys="true" parameterType="ClassDetail">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="classNo">
			SELECT SEQ_CLASS_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO CLASS VALUES(
		    #{classNo}, #{classArea}, #{classType}, #{classPerson}, #{classMinPerson}, #{classMaxPerson}, 
		    #{className}, #{classIntro}, #{classLevel}, DEFAULT, 0, #{categoryNo}, #{memberNo}, #{categoryDetailNo}
		)
	</insert>
	
	<!-- 클래스 이미지 등록 -->
	<insert id="classImageInsert" parameterType="java.util.List">
		INSERT INTO THUMBNAIL_IMG
		SELECT SEQ_TH_IMG_NO.NEXTVAL, A.* FROM
		
		<foreach collection="list" item="img" open="(" close=") A" separator=" UNION ALL ">
			SELECT #{img.thImgNm} TH_IMG_NM,
				   #{img.thImgLevel} TH_IMG_LEVEL,
				   #{img.classNo} CLASS_NO
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 강사 페이지 - 1회차 클래스 개수  -->
	<select id="selectClassListCount" resultType="_int">
		SELECT COUNT(*) FROM CLASS
		JOIN EPISODE A USING (CLASS_NO)
		JOIN EP_SCHEDULE B USING (EP_NO)
		WHERE MEMBER_NO = #{memberNo} AND EP_COUNT = 1
	</select>
	
	<!-- 강사 페이지 - 1회차 클래스 조회  -->
	<select id="selectClassList" resultMap="class_rm">
		SELECT CLASS_NO, CLASS_NM FROM CLASS
		JOIN EPISODE A USING (CLASS_NO)
		JOIN EP_SCHEDULE B USING (EP_NO)
		WHERE MEMBER_NO = #{memberNo} AND EP_COUNT = 1
	</select>
	
	
	<!-- 강사 클래스 목록 조회 - 1회차 이상인 클래스 검색 -> 회차별 조회 -->
	<select id="selectClassEpisode" resultMap="episode_class_rm">
		SELECT c.class_no as class_no, e.ep_no as ep_no,
		e.EP_COUNT as ep_count, 
		e.EP_ST AS DELETE_STATUS, 
		NVL(ca.CAL_ST, -1) AS CAL_STATUS,
	
		to_char(min(s.schdl_dt),'yyyymmdd') start_date, 
		to_char(max(s.schdl_dt),'yyyymmdd') end_date 
		
		FROM CLASS c
		LEFT JOIN episode e on c.class_no = e.class_no
		LEFT JOIN ep_schedule s on e.ep_no = s.ep_no
		LEFT JOIN calculate ca on s.ep_no = ca.ep_no
		
		WHERE ep_st != 4 and c.member_no = #{memberNo}
		group by c.class_no, e.ep_no, e.EP_COUNT, e.EP_ST, ca.CAL_ST, e.ep_st
		order by ep_no
	</select>
	
	<!-- 영수증 조회 -->
	<select id="selectReceipt" resultMap="receipt_rm">
		select r.receipt_no RECEIPT_NO, c.class_nm CLASS_NM, m.member_nm TEACHER_NM, 
        STUDENT_NM, cal_price PRICE, ca.cal_fin_no CAL_DATE
		from episode e
		join class c on (e.class_no = c.class_no)
		join member m on(c.member_no = m.member_no)
		join calculate ca on (e.ep_no = ca.ep_no)
		join receipt r on (ca.cal_no = r.cal_no)
		where e.ep_no = #{epNo}
	</select>
	
	
	<!-- 클래스 삭제 가능여부 조회 -->
	<select id="selectDeleteClass" resultType="_int">
		select count(*) from (
		    SELECT e.ep_no, to_char(min(s.schdl_dt),'yyyymmdd') start_date, to_char(max(s.schdl_dt),'yyyymmdd') end_date
		    FROM CLASS c
		    LEFT JOIN episode e on c.class_no = e.class_no
		    LEFT JOIN ep_schedule s on e.ep_no = s.ep_no
		    WHERE e.ep_no = #{epNo}
		    group by e.ep_no
		    order by ep_no
		) t
		where (  (select count(*) from register where ep_no = #{epNo}) = 0 and
		      (  ( to_char(sysdate, 'yyyymmdd') <![CDATA[ >= ]]> t.start_date and to_char(sysdate, 'yyyymmdd') <![CDATA[ <= ]]> t.end_date )  or  ( to_char(sysdate, 'yyyymmdd') <![CDATA[ <= ]]> t.start_date and to_char(sysdate, 'yyyymmdd') <![CDATA[ <= ]]> t.end_date ) ) )
	</select>
	
	<!-- 클래스 삭제 -->
	<delete id="deletClass">
		delete from episode where ep_no = #{epNo}
	</delete>

	<!-- 진행중인 클래스 학생 목록 조회 -->
	<select id="selectOngoingClass" resultMap="ongoing_class_rm">
		SELECT DISTINCT C.CLASS_NO CLASS_NO, C.CLASS_NM CLASS_NM, E.EP_COUNT EP_COUNT, M.MEMBER_NO AS STUDENT_NO, M.MEMBER_NM AS STUDENT_NM, M.MEMBER_GENDER
		, (SELECT COUNT(*) 
		    FROM REGISTER RE 
		    LEFT JOIN REPORT RT ON (RE.REG_NO = RT.REG_NO)
		    WHERE RE.MEMBER_NO = M.MEMBER_NO and rt.report_no is not null) 
		    AS REPORT_COUNT
		    
		FROM EPISODE E
		LEFT JOIN REGISTER R ON (E.EP_NO = R.EP_NO)
		LEFT JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
		LEFT JOIN REPORT RP ON (RP.REG_NO = R.REG_NO)
		LEFT JOIN CLASS C ON(E.CLASS_NO=C.CLASS_NO)
		WHERE E.EP_NO = #{epNo}
	</select>
	
	<!-- 정산 신청 -->
	<insert id="calculate">
		insert into calculate values(seq_cal_no.nextval, default, null, default, #{epNo})
	</insert>
			
	<!-- 강사 스케쥴 등록 (episode) 신규 -->
	<insert id="insertEpisode" useGeneratedKeys="true" parameterType="Episode">
		<selectKey order="BEFORE" resultType="_int" keyProperty="epNo">
			SELECT SEQ_EP_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO EPISODE VALUES(
			#{epNo}, #{epPrice}, #{classNo}, 0, 1, #{epPlace}
		)
	</insert>
	
	<!-- 강사 스케쥴 등록 (episode) 원데이, 추가회차 -->
	<insert id="insertOneEpisode" useGeneratedKeys="true" parameterType="Episode">
		<selectKey order="BEFORE" resultType="_int" keyProperty="epNo">
			SELECT SEQ_EP_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO EPISODE VALUES(
			#{epNo}, #{epPrice}, #{classNo}, 0, #{epCount}, #{epPlace}
		)
	</insert>
	
	
	<!-- 강사 스케쥴 등록 (ep_schedule) 정규 -->
	<insert id="insertEpisodeSchedule" parameterType="EpisodeSchedule">
		INSERT INTO EP_SCHEDULE VALUES(
			SEQ_SCHDL_NO.NEXTVAL, #{schdlDt}, #{schdlWeek}, #{schdlStartTime}, #{schdlEndTime}, #{epNo}, #{schdlTime}
		)
	</insert>

	<!-- 학생 신고 -->
	<insert id="reportStudent">
		insert into report values ( seq_report_no.NEXTVAL, 1, #{reportText}, default,
		    (select reg_no from register where member_no = #{memberNo} and ep_no = #{epNo}), 
		    default
		)
	</insert>
	
	<!-- 기존 클래스 조회 -->
	<select id="existingClassList" resultMap="class_rm">
		select class_no, class_nm
		from class
		where member_no = #{memberNo}
	</select>
	
	<!-- 교육 예정 클래스 학생 명수 조회-->
	<select id="studentListExpectCount" resultType="_int">
		select count(*)
		from register
		where reg_st != 1 and pay_st != 1 and ep_no = #{epNo}
	</select>
	
	<!-- 교육 예정 클래스 학생 목록 조회-->
	<select id="studentListExpect" resultMap="member_rm">
		select member_no, reg_nm as member_nm
		from register
		where reg_st != 1 and pay_st != 1 and ep_no = #{epNo}
	</select>
	
	<!-- 수강 거절 -->
	<update id="rejectStudent">
		update register set reg_st = 1, pay_st = 1
		where member_no = #{studentNo} and ep_no = #{epNo}
	</update>
	
	<!-- 수강 거절 - 메시지 삽입 -->
	<insert id="insertMessage">
		insert into note values(seq_note_no.nextval, #{className} || ' 이 수강 거절 되었습니다.', default, #{studentNo})
	</insert>
	
	<!-- 강사 여부 조회 -->
	<select id="selectTeacher" resultType="string">
		select teacher_enroll
		from member
		where member_no = #{memberNo}
	</select>
	
	<!-- 강사 번호 가져오기 -->
	<select id="teacherNo" resultType="_int">
		SELECT MEMBER_NO FROM CLASS
		WHERE CLASS_NO = #{no}
	</select>

	<!-- 클래스 가져오기 -->
	<select id="classSelect" resultMap="class_rm">
		SELECT * FROM CLASS 
		WHERE CLASS_NO = #{classNo}
	</select>
	
	<!-- 수업 회차 추가인지 체크 -->
	<select id="checkEpCount" resultType="_int">
		SELECT NVL(MAX(EP_COUNT), 0) FROM EPISODE
		WHERE CLASS_NO = #{classNo}
	</select>
	
	<!-- 클래스 시퀀스 번호 -->
	<select id="seqClassNo" resultType="_int">
		SELECT SEQ_CLASS_NO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 썸머노트 이미지 db저장 -->
	<insert id="insertIntroImg">
		INSERT INTO INTRO_IMG VALUES(
			SEQ_INTRO_IMG_NO, #{introImgName}, #{classNo}
		)
	</insert>
	
	<!-- 클래스 정보 조회 -->
	<select id="selectClass" resultMap="ep_rm">
	    select e.ep_count ep_count, c.class_nm class_nm, c.class_no class_no
	    from episode e
	    join class c on(e.class_no = c.class_no)
	    where ep_no =#{epNo}
	</select>
	
</mapper>
