body{
	background-color: #F1F1F1;
}

#right{
	margin-left: 300px;
	padding-top: 100px;
	padding-bottom: 100px;
}

#right > div{
	width: 1100px;
	min-height: 750px;
	background-color: white;
	border: 1px solid #989696;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

#right > div > h2{
	align-self: baseline;
    padding: 30px 50px; 
}

#table_id_wrapper {
	width: 1000px;
	
}

#table_id th {
	border: 1px solid #ddd;
}

#table_id{
	padding-top: 20px;
	width: 100%;
}

thead tr > th:nth-of-type(4){
	width: 90px;
}

/* 버튼 디자인  */
tbody tr > td:nth-of-type(4){
	display: flex;
	justify-content: center;
	margin: 0;
	width: 90px;
}

tbody tr > td:nth-of-type(4) > button{
	margin: 0 5px;
	width: 40px;
}

.paginate_button.current{
	width: 30px;
	height: 30px;
	padding: 3px !important;
}
