@font-face {
  font-family: 'tteutto';
  src: url('../font/tteutto.eot?61101158');
  src: url('../font/tteutto.eot?61101158#iefix') format('embedded-opentype'),
       url('../font/tteutto.woff2?61101158') format('woff2'),
       url('../font/tteutto.woff?61101158') format('woff'),
       url('../font/tteutto.ttf?61101158') format('truetype'),
       url('../font/tteutto.svg?61101158#tteutto') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tteutto';
    src: url('../font/tteutto.svg?61101158#tteutto') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tteutto";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-open:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-facebook:before { content: '\f301'; } /* '' */
